    
        <A HREF="[% url %]">[% IF image %]<IMG SRC="[% image %]" alt="[% title %]"></A><br />[% END %]<br />
        <A HREF="[% url %]">[% title %]            </A> ([% date %] [% duration %])<br />
<br />
<hr>
<br />